<?xml version="1.0"?>
<config>
  <modules>
    <ElderXavier_BuscaCorreios>
      <version>0.1.0</version>
    </ElderXavier_BuscaCorreios>
  </modules>
  <frontend>
    <routers>
      <buscacorreios>
        <use>standard</use>
          <args>
            <module>ElderXavier_BuscaCorreios</module>
            <frontName>buscacorreios</frontName>
          </args>
      </buscacorreios>
    </routers>
		<layout>
		  <updates>
			<buscacorreios>
			  <file>buscacorreios.xml</file>
			</buscacorreios>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <buscacorreios>
        <class>ElderXavier_BuscaCorreios_Helper</class>
      </buscacorreios>
    </helpers>
	<blocks>
	  <buscacorreios>
		<class>ElderXavier_BuscaCorreios_Block</class>
	  </buscacorreios>
	</blocks>
  </global>
</config> 